<div class="container mt-5">
  <h1 class="text-center text-light font-weight-bold">{{ title }}</h1>
  <hr />

  <form (ngSubmit)="onSubmit()" class="mb-5">
    <div class="container text-center w-50">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="text"
        name="text"
        required
      />
    </div>
    <div class="container text-center mt-2">
      <button class="btn btn-primary btn-sm">Add Todo</button>
    </div>
  </form>
  <div class="container w-50 mt-3" *ngFor="let t of todos">
    <div class="row todo-style">
      <div class="col-md-6" (dblclick)="onToggle(t)">
        <h5 class="m-0">{{ t.text }}</h5>
      </div>
      <div class="col-md-6 text-end">
        <fa-icon
          (click)="onDelete(t)"
          [ngStyle]="{ color: 'red' }"
          [icon]="faXbox"
          size="lg"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
